body {
    background-color: black;
    font-family: 'Libre Bodoni', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Unica One', cursive;
}

#background-div {
    height: 100vh;
    width: 100vw;
/*     display: flex; */
/*     align-items: center; */
/*     justify-content: center; */
/*     position: relative; 
    margin: auto;
    border: 10px solid red; */
    background-color: yellow;
    
    
}

#board {
/*     background-color: black; */
    width: 300px; 
/*     height: 440px; */
    position: absolute;
    top: 0;
    left: 0;
/*     margin: 0 auto; */
/*     padding-top: 10%;  */
    border-bottom: 1px solid white;

}

.box {
    position: absolute;
    box-sizing: border-box;
}


.modal {
    display: none; /* Hidden by default */
    position: absolute;
    z-index: 1; /* Sit on top */
    width: 300px; /* Full width */
    height: 450px; /* Full height */
    background-color: rgba(0, 0, 0, 0.80); /* Fallback color */
    
}

.modal p {
    color: #B33951;
    margin: 10px 0;
    margin-left: -500px;
    margin-right: -500px;
    font-size: 250px;
    
}

#play-again-btn {
    background-color: transparent;
    color: white;
    font-size: 50px;
    font-family: 'Libre Bodoni', serif;
    border: 3px solid white;
    border-radius: 15px;
    padding: 10px 25px;


}
